body{
    background-color: #212121;
    color: #FFFFFF;
}

/* Navbar Start  */

.menu-items li a{ 
    color: #FFFFFF !important;
    margin-left: 20px;
    font-weight: 700;
}

.navbar-social-media-circle{
    color: #FFFFFF;  
}

/* Navbar End */

/* Header Start */

.header-main{
    background-color: #000000;
}

.header-top-title
{
    color: #FFA726;
}

.header-text{
    color: #FFFFFFA6;
}

.header-button{
    background-color: #FFA726;
    size: 14px;
    font-weight: 600;
    border-radius: 10px;
}
/* Header End */

/* About Start */
.about-main{
    margin-top: 100px;
}
.about-title{
    color: #FFA726;
    font-weight: bold;
}
.about-subtitle{
    color:#FFA726 ;
    font-size: 20px;
}

.about-text{
    color: #FFFFFF;
    font-weight: 600;
}

.button-light{
    color: #FFFFFF !important;
    border-radius: 8px;
    size: 20px;
    font-weight: 700;
    background-color: #FFA726;
}
/* About End */

/* How We Work Start */
.how-work{
    margin-top: 140px;
}

/* How We Work End */

/* Features Start  */
.features{
    margin-top: 150px;
}
/* Features End */