body{
    background-color: #CACFE866;
    
}


/* Navbar Start  */

.menu-items li a{ 
    color: #21264A !important;
    margin-left: 20px;
    font-weight: 700;
}

.navbar-social-media-circle{
    color: #1B6B84;  
}


/* Navbar End */

/* Header Start */

.header-main{
background-color: #104454;

}

.header-top-title
{
    color: #EF6D58;
}

.header-text{
    color: #FFFFFFA6;
}

.header-button{
    background-color: #1B6B84;
    size: 14px;
    font-weight: 600;
    border-radius: 10px;
}
/* Header End */

/* About Start */
.about-main{
    margin-top: 100px;
}
.about-title{
    color: #391400;
    font-weight: bold;
}
.about-subtitle{
    color:#391400 ;
    font-size: 20px;
}

.about-text{
    color: #391400A3;
    font-weight: 600;
}

.button-light{
    color: #391400 !important;
    border-radius: 8px;
    size: 20px;
    font-weight: 700;
    background-color: #FFFFFF;
}
/* About End */

/* How We Work Start */
.how-work{
    margin-top: 150px;
}
/* How We Work End */